services:
  - type: web
    name: ebuddy-backend
    env: node
    rootDir: ./backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        generateValue: true
      - key: MONGO_URI
        sync: false
      - key: NVIDIA_API_KEY
        sync: false
    plan: free

